body {
    background-color: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:#FF3131;
    font-size: 60px;
    font-family: 'Playball', cursive;
    letter-spacing: 5px;
    width: auto;

}